@using PagedList.Mvc;
@model PagedList.IPagedList<MyRecordCollection.Models.Album>

@section head_end
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/no-more-tables.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Index";
}

<h2>My Albums</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-7"><a href="@Url.Action("Add")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New</a></div>
            <div style="height:7px;" class="visible-xs"></div>
            <div class="col-sm-5">
                <form class="form-inline" action="@Url.Action("Index")" method="get">
                    <div class="input-group stylish-input-group full-width">
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @id = "searchbox", @placeholder = "Search here" })
                        <span class="input-group-addon">
                            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="no-more-tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.ActionLink("Artist", "Index", new { sortOrder = ViewBag.ArtistSort, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.AlbumSort, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSort, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="hidden-xs hidden-sm">
                        @Html.ActionLink("Label", "Index", new { sortOrder = ViewBag.LabelSort, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="hidden-xs hidden-sm">
                        Format
                    </th>
                    <th class="hidden-xs hidden-sm">
                        Description
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickable" onclick="window.location='@Url.Action("Details", new { id= item.Id})'">
                        <td data-title="">
                            <div style="width:auto;height:auto;min-width:75px;min-height:75px;max-width:100px;max-height:100px;">
                                <img src="@item.ImageUrl" class="img-thumbnail img-responsive" />
                            </div>
                        </td>
                        <td data-title="Artist">
                            <strong>@Html.DisplayFor(modelItem => item.Artist.Name)</strong>
                        </td>
                        <td data-title="Title">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td data-title="Year">
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td data-title="Label" class="hidden-xs hidden-sm">
                            @Html.DisplayFor(modelItem => item.Label)
                        </td>
                        <td data-title="Format" class="hidden-xs hidden-sm">
                            @Html.DisplayFor(modelItem => item.Format)
                        </td>
                        <td data-title="Description" class="hidden-xs hidden-sm">
                            @MyRecordCollection.MyHtmlHelper.DisplayLargeText(item.Description, 200)
                        </td>

                        <td data-title="" class="text-right toolbar-column">
                            <form action="@Url.Action("Delete", new { id = item.Id })" method="post">
                                @Html.AntiForgeryToken()
                                <div class="btn-group" role="group" aria-label="albums toolbar">

                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default" title="Details">
                                        <span class="glyphicon glyphicon-list-alt"></span><span class="visible-lg-inline">Details</span>
                                    </a>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default" title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span><span class="visible-lg-inline">Edit</span>
                                    </a>
                                    @if (ViewBag.CurrentSort != null)
                                    {
                                        <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                                    }
                                    @if (ViewBag.CurrentFilter != null)
                                    {
                                        <input type="hidden" name="currentFilter" value="@ViewBag.CurrentFilter" />
                                    }
                                    @if (Model.PageNumber > 1)
                                    {
                                        <input type="hidden" name="page" value="@Model.PageNumber" />
                                    }
                                    <button type="submit" class="btn btn-default js-delete" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span><span class="visible-lg-inline">Delete</span>
                                    </button>

                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix pagination-inline">
            @Html.PagedListPager(
            Model,
            page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true })
    </div>
</div>






<br />

@section scripts
{
<script>
    $(document).ready(function () {

        $(".js-delete").click(function (event) {
            
            event.stopPropagation(); //Always stop click event on tr element
            if (!confirm('Delete album?'))
            {
                event.preventDefault(); //Stop this click event (submit)
            }
        });
    });
</script>    
}


