@model MyRecordCollection.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

@section head_end
{
<link href="~/Content/blueimpGallery/css/blueimp-gallery.min.css" rel="stylesheet" />
}

@section headerbar
{
<div class="header-bar">
    <div class="site-title">
        <h1>@Model.PageTitle</h1>
        <hr />
        <div class="subheading">@Model.PageSubTitle</div>
    </div>
</div>
}
<div class="row">
    <div class="col-xs-12">
        <div id="links" class="center-block image-gallery">
            @foreach (var album in Model.Albums)
            {
                <a href="@album.ImageUrl" title="@album.Artist.Name - @album.Title">
                    <img src="@album.ImageUrl" alt="@album.Artist.Name - @album.Title">
                </a>
            }
        </div>
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>





@section scripts
{
<script src="~/Content/blueimpGallery/js/blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>
}